.logo-box {
  width: 280px;
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: -70px 0;

  overflow: hidden;
}


.logo-box img {
  width: 80%;
  height: 80%;

  object-fit: contain;

  cursor: pointer;
}